body{
    background-color: rgb(45, 52, 54);
    justify-content: center;
    text-align: center;
}
h1{
    color: rgb(255, 255, 255);
    margin-top: 80px;
}
h2{
    color: rgb(6, 201, 255);
}

.container {
    display: grid;
   /* grid-template-columns: 1fr 3fr; /* Two columns: 1/4 width for the left and 3/4 width for the right */
    gap: 20px; 
    height: 100vh;
}
.mainImg{
    height: 600px;
    width: 500px;
}


/* Input code */ 
.input {
    font-family: 'Segoe UI', sans-serif;
    margin: 1em 0 1em 0;
    max-width: 500px;
    position: relative;
    justify-content: center;
    justify-items: center;
  }
  
  .input input {
    font-size: 100%;
    padding: 0.8em;
    outline: none;
    border: 2px solid rgb(6, 201, 255);
    background-color: transparent;
    border-radius: 20px;
    width: 100%;
  }
  
  .input label {
    font-size: 100%;
    position: absolute;
    left: 0;
    padding: 0.8em;
    margin-left: 0.5em;
    pointer-events: none;
    transition: all 0.3s ease;
    color: rgb(228, 226, 226);
  }
  
  .input :is(input:focus, input:valid)~label {
    transform: translateY(-50%) scale(.9);
    margin: 0em;
    margin-left: 1.3em;
    padding: 0.4em;
    background-color: rgb(45, 52, 54);
  }
  
  .inputGroup :is(input:focus, input:valid) {
    border-color: rgb(6, 201, 255);
  }

/* btn */
.btn-reg {
    --clr-font-main: hsla(0 0% 20% / 100);
    --btn-bg-1: hsla(194 100% 69% / 1);
    --btn-bg-2: hsla(217 100% 56% / 1);
    --btn-bg-color: hsla(360 100% 100% / 1);
    cursor: pointer;
    margin-top: 20px;
    padding: 0.9em 1.4em;
    min-width: 120px;
    min-height: 44px;
    font-size: var(--size, 1rem);
    font-weight: 550;
    transition: 0.8s;
    background-size: 280% auto;
    background-image: linear-gradient(
      325deg,
      var(--btn-bg-2) 0%,
      var(--btn-bg-1) 55%,
      var(--btn-bg-2) 90%
    );
    border: none;
    border-radius: 20px;
    color: black;
    box-shadow:
      0px 0px 20px rgba(21, 84, 122, 0.5),
      0px 5px 5px -1px rgb(55, 107, 190),
      inset 4px 4px 8px rgb(65, 160, 204),
      inset -4px -4px 8px rgb(72, 132, 228);
  }
  
  .btn-reg:hover {
    background-position: right top;
  }
  
  .btn-reg:is(:focus, :focus-visible, :active) {
    outline: none;
    box-shadow:
      0 0 0 3px var(--btn-bg-color),
      0 0 0 6px var(--btn-bg-2);
  }
  
  @media (prefers-reduced-motion: reduce) {
    .btn-reg {
      transition: linear;
    }
  }
  
  /* register btn style */

  .styled-button {
  position: relative;
  padding: 1rem 2rem;
  font-size: 1.1rem;
  font-weight: bold;
  color: #000000;
  background: linear-gradient(to bottom, rgb(21, 176, 219), rgb(5, 109, 138));
  border-radius: 9999px;
  cursor: pointer;
  box-shadow: 0 2px 4px rgb(21, 176, 219), 0 10px 20px rgb(5, 109, 138);
  transition: all 0.2s ease;
  display: inline-flex;
  border: 1px solid rgb(15, 71, 87);
}

.styled-button::before {
  content: "";
  position: absolute;
  top: -2px;
  right: -5px;
  bottom: -5px;
  left: 9px;
  background: linear-gradient(to bottom, rgb(43, 184, 223), rgb(5, 109, 138));
  z-index: -1;
  border-radius: 9999px;
  transition: all 0.2s ease;
  opacity: 1;
}

.styled-button:active {
  transform: translateY(2px);
  box-shadow: 0 1px 2px rgba(5, 109, 138), 0 5px 10px rgb(6, 160, 202);
}

.styled-button .inner-button {
  position: relative; 
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to bottom, rgb(5, 109, 138),rgb(47, 190, 230));
  width: 40px;
  height: 40px;
  margin-left: 10px;
  border-radius: 50%;
  box-shadow: 0 0 1px rgba(5, 109, 138);
  border: 1px solid rgb(14, 76, 94);
  transition: all 0.2s ease;
}

.styled-button .inner-button::before {
  content: "";
  position: absolute;
  top: -2px;
  right: -1px;
  bottom: -1px;
  left: -1px;
  background: linear-gradient(to bottom,rgb(14, 76, 94),rgb(15, 71, 87));
  z-index: -1;
  border-radius: 9999px;
  transition: all 0.2s ease;
  opacity: 1;
}
.styled-button .inner-button .icon {
  filter: drop-shadow(0 10px 20px rgb(6, 147, 185))
    drop-shadow(0 0 4px rgb(3, 54, 68));
  transition: all 0.4s ease-in-out;
}
.styled-button .inner-button .icon:hover {
  filter: drop-shadow(0 10px 20px rgba(71, 198, 233, 0.884))
    drop-shadow(0 0 20px rgba(3,54,68));
  transform: rotate(-35deg);
}
