body{
    background-color: rgb(45, 52, 54);
    justify-content: center;
    text-align: center;
}
h1{
    color: rgb(255, 255, 255);
    height: 50px;
    margin-top: 80px;
}


table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 1em;
    min-width: 400px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

th, td {
    padding: 12px 15px;
    border: 1px solid #ddd;
    text-align: left;
}

th {
    background-color:rgb(6, 133, 168);
    color: #000000;
}

tr {
    background-color: rgb(6, 201, 255, 0.884);
}

tr:nth-child(even) {
    background-color: rgba(6, 201, 255, 0.781);
}

tr:hover {
    background-color: rgb(124, 178, 223);
}

@media screen and (max-width: 768px) {
    table, thead, tbody, th, td, tr {
        display: block;
    }
    
    thead tr {
        display: none;
    }
    
    tr {
        margin-bottom: 10px;
    }
    
    td {
        text-align: right;
        padding-left: 50%;
        position: relative;
    }
    
    td::before {
        content: attr(data-label);
        position: absolute;
        left: 0;
        width: 50%;
        padding-left: 15px;
        font-weight: bold;
        text-align: left;
    }
}

/* btn */
.btn-reg {
    --clr-font-main: hsla(0 0% 20% / 100);
    --btn-bg-1: hsla(194 100% 69% / 1);
    --btn-bg-2: hsla(217 100% 56% / 1);
    --btn-bg-color: hsla(360 100% 100% / 1);
    cursor: pointer;
    margin-top: 20px;
    padding: 0.9em 1.4em;
    min-width: 120px;
    min-height: 44px;
    font-size: var(--size, 1rem);
    font-weight: 550;
    transition: 0.8s;
    background-size: 280% auto;
    background-image: linear-gradient(
      325deg,
      var(--btn-bg-2) 0%,
      var(--btn-bg-1) 55%,
      var(--btn-bg-2) 90%
    );
    border: none;
    border-radius: 20px;
    color: black;
    box-shadow:
      0px 0px 20px rgba(21, 84, 122, 0.5),
      0px 5px 5px -1px rgb(55, 107, 190),
      inset 4px 4px 8px rgb(65, 160, 204),
      inset -4px -4px 8px rgb(72, 132, 228);
  }
  
  .btn-reg:hover {
    background-position: center;
  }
  
  .btn-reg:is(:focus, :focus-visible, :active) {
    outline: none;
    box-shadow:
      0 0 0 3px var(--btn-bg-color),
      0 0 0 6px var(--btn-bg-2);
  }
  
  @media (prefers-reduced-motion: reduce) {
    .btn-reg {
      transition: linear;
    }
  }

  .lastImg{
    height: auto;
    margin-top: 20px;
  }